@charset "utf-8";

body {margin:0 auto;}
#wrap {max-width:100%; min-width:100px; margin:0 auto; position:relative;}
/*.popup_bg {width:100%; height:100vh; position:absolute; left:0; top:0; background-color:rgba(0,0,0,0.7); z-index: 1}*/

.modal_padding {width:100%; height:100%; position:fixed; top:0; left:50%; transform:translate(-50% , 0); z-index: 100; display:none;}

.modal_wrap {max-width:800px; width:100%; min-width:100px; height:100vh; background-color:#fff; margin:0 auto; position:relative; z-index: 3; overflow: scroll; overflow-x:hidden;}
.modal_wrap::-webkit-scrollbar {display: none;}
.modal_wrap > .ct_title {width:100%; min-width:100px; height:70px; background-color:#fff; display:flex; align-items: center; justify-content: space-between; padding: 0 5.5556%; position:sticky; left:0; top:0; z-index: 100;}
.modal_wrap > .ct_title > h3 {font-size:20px; font-weight:500; color:#333;}
.modal_wrap > .ct_title > img {width:30px;}
.modal_wrap > .ct_header_banner {width:100%; min-width:100px; height:16vw; max-height:128px; display:flex; position:relative; justify-content: center; align-items: center; background-color:#5081FF;}


/*MILIPASS 팝업 타이틀 이미지*/
.mil_popup_title2 {height:50%; margin:0 15px 0 0;}
.mil_popup_title3 {height:80%; margin:0 20px 0 0;}
.mil_popup_title4 {height:80%; position:relative; bottom:0px;}
.mil_popup_title5 {max-width:118px; margin:0 10px 0 0;}
.mil_popup_title6 {max-width:132px; margin:0 15px 0 0;}
.mil_popup_title7 {max-width:112px; margin:0 15px 0 0;}
.mil_popup_title8 {max-width:104px; margin:0 15px 0 0;}
.mil_popup_title9 {max-width:132px; margin:0 15px 0 0;}
.mil_popup_title10 {max-width:100px; margin:0 0px 0 0;}
.mil_popup_title11 {max-width:120px; position:relative; bottom:-2%; margin:0 15px 0 0;}
.mil_popup_title12 {max-width:130px; position:relative; bottom:4%; margin:0 15px 0 0;}
.mil_popup_title13 {max-width:116px; margin:0 5px 0 0;}
.mil_popup_title14 {max-width:116px; position:relative; bottom:-2%; margin:0 5px 0 0;}
.mil_popup_title15 {max-width:116px; position:relative; bottom:5%;}
.mil_popup_title16 {max-width:160px;}
.mil_popup_title17 {max-width:160px; position:relative; bottom:-16%; left:5%; z-index: 4}
.mil_popup_title18 {height:100%;}
.mil_popup_title19 {height:70%; margin:0 10px 0 0;}
.mil_popup_title20 {height:45%; margin:0 20px 0 0;}
.mil_popup_title21 {height:80%; margin:0 20px 0 0;}
.mil_popup_title46 {max-width:70px; position:relative; bottom:-6%; margin:0 10px 0 0;}
.mil_popup_title47 {max-width:84px; margin:0 20px 0 0;}
.mil_popup_title48 {max-width:80px; position:relative; bottom:-4%; margin:0 10px 0 0;}

.popup_link_btn {width:60%; padding:2% 0; margin:10px 0 0; border-radius:10px; display: flex; justify-content: center; align-items: center; background-color:#5A81FA;}
.popup_link_btn > span {font-size:20px; color:#fff; font-weight:700; margin:0 10px 0 0;}
.popup_link_btn > img {max-height:32px;}

/*KOnPASS 팝업 타이틀 이미지*/
.kon_popup_title2 {max-width:66px; position:relative; top:5%; left:-1%;}
.kon_popup_title3 {max-width:180px; height:100%; position:relative; top:0%; left:-1%;}
.kon_popup_title4 {max-width:120px;}
.kon_popup_title5 {max-width:80px; margin:0 10px 0 0;}
.kon_popup_title6 {max-width:90px; margin:0 15px 0 0;}
.kon_popup_title7 {max-width:90px; margin:0 15px 0 0;}
.kon_popup_title9 {max-width:100px; position:relative; left:0%;}


.modal_wrap > .ct_header_banner2 > .header_temp {width:100%;}
.modal_wrap > .ct_header_banner > h3 {color:#fff; font-size:23px; font-weight:700; letter-spacing: -0.08rem; z-index: 10;}
.modal_wrap > .ct_info {width:100%; min-width:100px; display:flex; flex-direction: column; justify-content: center; align-items: center; padding:60px 5.5556%;}
/*///////////////*/
.ct_info > .shopping_info_box {width:100%; display: flex; justify-content: space-between; align-items: center; margin:60px 0 0;}
.ct_info > .shopping_info_box > .shopping_item {width:16%; max-height:106px; height:106px; padding:12px 0 0 12px; background-color:#F2F3F6; border-radius:8px; font-size:16px; color:#485879;}
.ct_info > .shopping_info_box > .shopping_item > h3 {font-size:14px; line-height:16px; margin:0 0 20px;}
.ct_info > .shopping_info_box > .shopping_item > p {font-size:11px; line-height:12px;}
.ct_info > p {font-size:14px; color:#666; margin:30px 0 0; text-align: center;}


/*1개 이미지 박스*/
.row_max_1_img_box {max-width:100%; min-width:100px; margin:0 0 40px; display:flex; justify-content: center;}
.row_max_1_img_box > img {width:100%;}
.row_max_1_img_box > .first_kon_title {width:62%;}
.row_max_1_img_box > .popup36_img {width:80%}
.row_max_1_img_box > .size_web {width:60%;}
/*2개 이미지 박스*/
.row_max_2_img_box {display:flex; width:100%; justify-content: space-between; margin:0 0 40px;}
.row_max_2_img_box > img {width:49.5%;}
/* 이미지 가로로 3개에서 2개로 보이는 박스 */
.modal_wrap > .ct_info > .row_max_3_img_box {max-width:100%; min-width:100px; display:flex; margin:0 0 40px;}
.modal_wrap > .ct_info > .row_max_3_img_box > img {max-width:240px; min-width:80px;}
.modal_wrap > .ct_info > .row_max_3_img_box > img:nth-child(2) {margin:0 20px;}
/*반응형 아이템 움직임 이미지 박스*/
.responsive_img_box {width:100%; height:max-content; position:relative; display:flex; justify-content: center; margin:0 0 40px;}
.responsive_img_box > .left_items {width:25%; height:100%; position:absolute; left:0;}
.responsive_img_box > .right_items {width:25%; height:100%; position:absolute; right:0;}

.responsive_img_box > div > img {height:5%;}
.responsive_img_box > .left_items > img:nth-child(1) {position:absolute; top:8%; left:10%;}
.responsive_img_box > .left_items > img:nth-child(2) {position:absolute; top:16%; right:0;}
.responsive_img_box > .left_items > img:nth-child(3) {position:absolute; top:32%; left:0;}
.responsive_img_box > .left_items > img:nth-child(4) {position:absolute; top:45%; right:10%;}
.responsive_img_box > .left_items > img:nth-child(5) {position:absolute; top:65%; right:30%;}
.responsive_img_box > .left_items > img:nth-child(6) {position:absolute; top:82%; right:0;}

.responsive_img_box > .right_items > img:nth-child(1) {position:absolute; top:0%; right:10%;}
.responsive_img_box > .right_items > img:nth-child(2) {position:absolute; top:12%; left:0;}
.responsive_img_box > .right_items > img:nth-child(3) {position:absolute; top:24%; right:0;}
.responsive_img_box > .right_items > img:nth-child(4) {position:absolute; top:36%; left:0;}
.responsive_img_box > .right_items > img:nth-child(5) {position:absolute; top:48%; right:0;}
.responsive_img_box > .right_items > img:nth-child(6) {position:absolute; top:60%; right:5%;}


/* 세로로 보이는 기본 이미지 박스 */
.modal_wrap > .default_ct_info {width:100%; padding:60px 0;}
.modal_wrap > .default_ct_info > .default_img_box {max-width:100%; min-width:100px; display: flex; flex-direction:column; align-items: center;}
.modal_wrap > .default_ct_info > .default_img_box > img {width:60%; max-width:600px; margin:0 0 30px;}

.mobile_img {display:none;}
.mobile_text {display:none;}
.modal_wrap > .ct_info > .text_box {width:100%; min-width:280px; padding:0 0 50px; border-bottom:1px solid #ddd; text-align: center;}
.modal_wrap > .ct_info > .text_box2 {width:100%; min-width:280px; padding:0 0 50px; margin:0 0 50px; border-bottom:1px solid #ddd; text-align: center;}
.modal_wrap > .ct_info > .text_box2 > h3 {font-size:22px; font-weight:500; color:#333; margin: 0 0 10px; display:flex; justify-content: center; align-items: center;}
.modal_wrap > .ct_info > .text_box2 > p {font-size:16px; font-weight:400; color:#333; letter-spacing: -0.4px;}
.modal_wrap > .ct_info > .text_box > div {margin-bottom:40px;}
.modal_wrap > .ct_info > .text_box h3 {font-size:22px; font-weight:500; color:#333; margin: 0 0 10px; display:flex; justify-content: center; align-items: center;}
.modal_wrap > .ct_info > .text_box h3 > img {width:8%; margin: 0 15px 0 0;}
.modal_wrap > .ct_info > .text_box h3 > .emoji {width:30px;}
.modal_wrap > .ct_info > .text_box p {font-size:16px; font-weight:400; color:#333; letter-spacing: -0.4px;}
.text_box .br_p {margin:20px 0 0}

@media (max-width:860px){
	.modal_wrap > .ct_info > .text_box > p > span {display:block;}
	.modal_wrap > .ct_info > .text_box > p > br {display:none;}
}

@media (max-width:640px){
	.modal_wrap > .ct_title {height:60px;}
	.modal_wrap > .ct_title > h3 {font-size:14px;}
	.modal_wrap > .ct_title > img {width:20px;}
	.modal_wrap > .ct_header_banner {height:80px;}
	.modal_wrap > .ct_header_banner > img {display:none;}
	.modal_wrap > .ct_header_banner > h3 {font-size:18px;}
	.modal_wrap > .ct_info {padding:40px 10%;}
	.row_max_1_img_box > .first_kon_title {width:100%;}
	.modal_wrap > .ct_info > .row_max_3_img_box {margin:0 0 30px;}
	.modal_wrap > .ct_info > .row_max_3_img_box > img:nth-child(2) {margin:0 0 0 10px;}
	.modal_wrap > .ct_info > .row_max_3_img_box > img:last-child {display:none;}
	.modal_wrap > .ct_info > .text_box {border-bottom:none;}
	.modal_wrap > .ct_info > .text_box h3 {font-size:20px; font-weight:500; color:#333; margin: 0 0 20px;}
	.modal_wrap > .ct_info > .text_box p {font-size:14px; font-weight:400; color:#333;}
	.modal_wrap > .ct_info > .text_box p > br {display:none;}
	.modal_wrap > .ct_info > .text_box p > span {display:block;}
	.modal_wrap > .ct_info > .text_box p > span > br {display:none;}
	.modal_wrap > .ct_info > .text_box2 > h3 {font-size:20px; font-weight:500; color:#333; margin: 0 0 10px;}
	.modal_wrap > .ct_info > .text_box2 > p {font-size:14px; font-weight:400; color:#333;}
	.modal_wrap > .ct_info > .text_box2 > p br {display:none;}
	.modal_wrap > .ct_info > .text_box2 > p > span {display:block;}
	.ct_info > .shopping_info_box {display:none;}
	.ct_info > p {margin:0; font-size:12px;}
	.ct_info > p > .m_br {display:block;}

	.popup_link_btn {width:88.8888%; padding:2.3% 0; margin:15px 0 0;}
	.popup_link_btn > span {font-size:2.8vw; color:#fff; font-weight:700; margin:0 10px 0 0;}
	.popup_link_btn > img {max-height:5vw;}

	.row_max_1_img_box > .size_web {width:100%;}

	.responsive_img_box > img {width:65%;}
	.responsive_img_box > div {width:28%;}
	.responsive_img_box > .left_items > img:nth-child(1) {position:absolute; top:-1.5%; left:10%;}
	.responsive_img_box > .left_items > img:nth-child(2) {display:none;}
	.responsive_img_box > .left_items > img:nth-child(3) {position:absolute; top:22%; left:0;}
	.responsive_img_box > .left_items > img:nth-child(4) {display:none;}
	.responsive_img_box > .left_items > img:nth-child(5) {position:absolute; top:52%; right:0%;}
	.responsive_img_box > .left_items > img:nth-child(6) {display:none;}

	.responsive_img_box > .right_items > img:nth-child(1) {position:absolute; top:-1.5%; right:10%;}
	.responsive_img_box > .right_items > img:nth-child(2) {display:none;}
	.responsive_img_box > .right_items > img:nth-child(3) {position:absolute; top:20%; right:0;}
	.responsive_img_box > .right_items > img:nth-child(4) {position:absolute; top:62%; left:10%;}
	.responsive_img_box > .right_items > img:nth-child(5) {position:absolute; top:48%; right:0;}
	.responsive_img_box > .right_items > img:nth-child(6) {position:absolute; top:85%; left:0%;}

	.modal_wrap > .default_ct_info > .default_img_box > img {width:88.8888%; max-width:600px; margin:0 0 20px;}

	.web_img {display:none;}
	.web_text {display:none;}
	.mobile_img {display:block;}
	.mobile_text {display:block;}
}